<ion-view view-title="Meetings">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-clear button-positive" ng-click="addAction()">
      Add
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
    	<ion-item ng-hide="meetings.length">
    		Não existem reuniões cadastradas
		</ion-item>
	    <ion-item ng-repeat="meeting in meetings" href="#/app/meetings/{{meeting.id}}">
	    	{{meeting.title}}
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
